@import '../node_modules/reset-css/_reset.scss';
@import url("//hello.myfonts.net/count/35c931");

@mixin medium { @media ( min-width: 415px ) { @content } }
@mixin large { @media ( min-width: 769px ) { @content } }

@font-face {
    font-family: "Authentic";
    src: url(./fonts/AUTHENTIC-Sans.otf);
}

@font-face {
    font-family: "WilhelmKlingsporGotLTStd";
    src: url(./fonts/35C931_0_0.ttf)
}

@font-face {
  font-family: "Deutsch";
  src: url(./fonts/Deutsch.ttf)
}

html {
    font-family: Authentic, sans-serif;
    font-size: 14px;

    --background-color: #211e20;
    --text-color: #F7F7EB;
    --green: #5CC1AF;
    --orange: #EF6F6E;
    --blue: #54AADB;
    --pink: #DA4C96;
    --yellow: #EEEE7E;
    --brown: #FFD7A6;
    --purple: #BF9BDB;

    background-color: var(--background-color);
    color: var(--text-color);
    @include medium { font-size: 16px; }
    @include large { font-size: 18px; }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: 1.5;
}

h1 {
    font-family: 'Deutsch';
    font-size: 37px;
    margin-top: -.1em;
    @include medium { font-size: 65px }
    // @include large { font-size: 84px }
}

a {
    display: block;
    padding-top: .25em;
    cursor: alias;
    &, &:visited {
        color: inherit;
    }
    &:hover {
        color: var(--pink);
    }
}

.center {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.main > * {
    position: absolute;
}

.face {
    background-image: url(./img/face4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.man {
    width: 26px;
    height: 50px;
    margin-top: -50px;
    margin-left: -13px;
    background-color: var(--text-color);
    transform-origin: 50% 100%;
    -webkit-mask-image: url("./img/man.png");
    mask-image: url("./img/man.png");
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.cursor {
    width: 1em;
    height: 1em;
    background: var(--text-color);
    border-radius: 50%;
}