@import '../node_modules/reset-css/_reset.scss';
@import url("//hello.myfonts.net/count/35c931");

@mixin medium { @media ( min-width: 415px ) { @content } }
@mixin large { @media ( min-width: 769px ) { @content } }

@font-face {
    font-family: "Authentic";
    src: url(./fonts/AUTHENTIC-Sans.otf);
}

@font-face {
    font-family: "WilhelmKlingsporGotLTStd";
    src: url(./fonts/35C931_0_0.ttf)
}

html {
    font-family: Authentic, sans-serif;
    font-size: 14px;
    @include medium { font-size: 16px; }
    @include large { font-size: 18px; }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    line-height: 1.5;
}

h1 {
    font-family: 'WilhelmKlingsporGotLTStd';
    font-size: 37px;
    margin-top: -.1em;
    @include medium { font-size: 65px }
    @include large { font-size: 84px }
}

a {
    display: block;
    padding-top: .25em;
    cursor: alias;
    &, &:visited {
        color: inherit;
    }
    &:hover {
        color: blue;
    }
}

.center {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.main > * {
    position: absolute;
}

.face {
    background-image: url(./img/face.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.man {
    width: 26px;
    height: 50px;
    margin-top: -50px;
    margin-left: -13px;
    background-image: url("./img/man.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    transform-origin: 50% 100%;
}

.cursor {
    width: 1em;
    height: 1em;
    background: black;
    border-radius: 50%;
}