/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//hello.myfonts.net/count/35c931");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Authentic";
  src: url(./fonts/AUTHENTIC-Sans.otf);
}
@font-face {
  font-family: "WilhelmKlingsporGotLTStd";
  src: url(./fonts/35C931_0_0.ttf);
}
@font-face {
  font-family: "Deutsch";
  src: url(./fonts/Deutsch.ttf);
}
html {
  font-family: Authentic, sans-serif;
  font-size: 14px;
  --background-color: #211e20;
  --text-color: #F7F7EB;
  --green: #5CC1AF;
  --orange: #EF6F6E;
  --blue: #54AADB;
  --pink: #DA4C96;
  --yellow: #EEEE7E;
  --brown: #FFD7A6;
  --purple: #BF9BDB;
  background-color: var(--background-color);
  color: var(--text-color);
}
@media (min-width: 415px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  html {
    font-size: 18px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  line-height: 1.5;
}

h1 {
  font-family: "Deutsch";
  font-size: 37px;
  margin-top: -0.1em;
}
@media (min-width: 415px) {
  h1 {
    font-size: 65px;
  }
}

a {
  display: block;
  padding-top: 0.25em;
  cursor: alias;
}
a, a:visited {
  color: inherit;
}
a:hover {
  color: var(--pink);
}

.center {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.main {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.main > * {
  position: absolute;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
  object-position: 0 0;
}

.man {
  width: 26px;
  height: 50px;
  margin-top: -50px;
  margin-left: -13px;
  background-color: var(--text-color);
  transform-origin: 50% 100%;
  -webkit-mask-image: url("./img/man.png");
  mask-image: url("./img/man.png");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.cursor {
  width: 1em;
  height: 1em;
  background: var(--text-color);
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
